{%extends 'layouts/base.html'%}
{% block title%}Tech Inventory{% endblock%}
{% block content%}
<section class="button_section">
    <h1 class="tittle">Tech inventory</h1>
    <button id="getInventoryBtn">Insert inventory to the Database</button>
</section>

<table id="myTable" class="display cell-border table_content">
    <thead>
        <tr>
            <th>id</th>
            <th>Brand_id</th>
            <th>SKU</th>
            <th>Product name</th>
            <th>Category_id</th>
            <th>Original price</th>
            <th>Discount price</th>
            <th>Stock</th>
            <th>State_id</th>
            <th>Location_id</th>
            <th>Warranty</th>
            <th>Last updated</th>
        </tr>
        <tbody>
            <!-- First and low performance way to print the data (delete this) -->
            {% for product in products_list %}
            <tr>
                <td>{{ product['id'] }}</td>
                <td>{{ product['id'] }}</td>
                <td>{{ product['id'] }}</td>
                <td>{{ product['id'] }}</td>
                <td>{{ product['id'] }}</td>
                <td>{{ product['id'] }}</td>
                <td>{{ product['id'] }}</td>
                <td>{{ product['id'] }}</td>
                <td>{{ product['id'] }}</td>
                <td>{{ product['id'] }}</td>
                <td>{{ product['id'] }}</td>
                <td>{{ product['id'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>
{% endblock%}